.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998;
  background: linear-gradient(to right, #22d3ee23, #a78bfa34, #f9a8d422);
  transform: translateY(0);
  transition: transform 0.45s ease-in-out, background-color 0.3s ease;
  will-change: transform;
}

.navbar-hidden {
  transform: translateY(-100%);
}

.navbar-visible {
  transform: translateY(0);
}


.navbar-scrolled {
  backdrop-filter: blur(20px);
}

.navbar-container {
  /* max-width: 80rem; */
  min-width: 100%;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.logo-icon {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.logo-text {
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  letter-spacing: -0.025em;
}

.logo-text .nav-section-name {
  font-size: 16px;
}

.logo-accent {
  color: #22d3ee;
}

.navbar-menu {
  display: none;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .navbar-menu {
    display: flex;
  }
}

.navbar-link {
  color: #d1d5db;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
  transition: color 0.3s ease;
  position: relative;
}

.navbar-link:hover {
  color: #22d3ee;
}

.navbar-link-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.125rem;
  background: linear-gradient(to right, #22d3ee, #a855f7);
  transition: width 0.3s ease;
}

.navbar-link:hover .navbar-link-underline {
  width: 100%;
}

.mobile-menu-button {
  display: block;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

@media (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}

.mobile-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  background-color: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(20px);
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media (max-width: 500px) {
  .logo-icon {
    padding: 4px;

  }
}

.mobile-menu-open {
  max-height: 24rem;
}

.mobile-menu-content {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobile-menu-link {
  display: block;
  width: 100%;
  text-align: left;
  color: #d1d5db;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.mobile-menu-link:hover {
  color: #22d3ee;
}